<mat-toolbar color="primary">
  <span>Cargo</span>
</mat-toolbar>
<div mat-dialog-content>

  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  
  <mat-list *ngIf="!loading">
    <mat-list-item>
      <mat-icon matListIcon>more_horiz</mat-icon>
      <div matLine><strong> Nome </strong></div>
      <div matLine class="info"> {{ object.name }} </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon>more_horiz</mat-icon>
      <div matLine><strong> Nível </strong></div>
      <div matLine class="info"> {{ object.level }} </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon>more_horiz</mat-icon>
      <div matLine><strong> Empresa </strong></div>
      <div matLine class="info"> {{ object._department._branch._company.name }} </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon>more_horiz</mat-icon>
      <div matLine><strong> Unidade </strong></div>
      <div matLine class="info"> {{ object._department._branch.name }} </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon>more_horiz</mat-icon>
      <div matLine><strong> Departamento </strong></div>
      <div matLine class="info"> {{ object._department.name }} </div>
    </mat-list-item>
  </mat-list>
</div>