/* ----------------------------------------------------------------------- */
// TABLE
/* ----------------------------------------------------------------------- */

.table-responsive {
  overflow-x: auto;
  
  .mat-table {
    min-width: 800px;
    
    .mat-ripple {cursor: pointer;}
  }
}
