mat-toolbar{
  span {
    line-height: 1;
    p {line-height: 1;}
    small {
      font-size: 50%;
      line-height: 1;
    }
  }
}
.mat-dialog-content {
  padding: 1rem 1.5rem;
  mat-form-field {width: 100%;}
}
.mat-dialog-actions {
  margin-bottom: 0;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}