<h1 mat-dialog-title>Formulário de assessment</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">

    <input-form label="Nome" [control]="controls.name"></input-form>

    <input-form label="Duração máxima" [control]="controls.duration" hint="Valor em <b>horas</b>!"></input-form>

    <input-form label="Grupos" type="select" [multiple]="true" [items]="groups"
      [control]="controls.groups"></input-form>

    <input-form label="Instruções" type="select" [multiple]="true" [items]="instructions"
      [control]="controls.instructions" selectName="title"></input-form>

  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid" *ngIf="!saving" (click)="onSubmit()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="25" class="ml-2" *ngIf="saving"></mat-progress-spinner>
</div>