<h1 mat-dialog-title>Formulário de acesso ao conteúdo</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">

    <input-form label="Código" [control]="controls.code" (keyup)="uppercase()"></input-form>

    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="50">
        <input-form label="Validade" type="datepicker" [control]="controls.validity"></input-form>
      </div>
      <div fxFlex="50">
        <input-form label="Quantidade" [control]="controls.quantity"></input-form>
      </div>
    </div>

    <input-form label="Assessments" type="select" [multiple]="true" [items]="assessments"
      [control]="controls.assessments"></input-form>

    <input-form label="Cursos" type="select" [multiple]="true" [items]="courses"
      [control]="controls.courses"></input-form>

    <input-form label="MBAs" type="select" [multiple]="true" [items]="mbas" [control]="controls.mbas"></input-form>

  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid" *ngIf="!saving" (click)="onSubmit()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="25" class="ml-2" *ngIf="saving"></mat-progress-spinner>
</div>