<mat-toolbar color="primary">
  <img class="thumbnail-sm mr-1" [src]="object.image ? object.image : 'assets/image/not-found-user.png'" alt="">
  <span>Empresa</span>
</mat-toolbar>
<div mat-dialog-content>
  
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>more_horiz</mat-icon>
      <div matLine><strong> Nome </strong></div>
      <div matLine class="info"> {{ object.name }} </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon color="warn" *ngIf="object.deletedAt">cancel</mat-icon>
      <mat-icon matListIcon color="success" *ngIf="!object.deletedAt">check_circle</mat-icon>
      <div matLine><strong> Ativo </strong></div>
    </mat-list-item>
  </mat-list>
</div>