<div class="header">
  <h2 class="title">Formulário de aluno</h2>
</div>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="mat-card container mat-elevation-z8 p-3 mb-2">
    <div class="img-uploaded" *ngIf="image">
      <button mat-mini-fab color="warn" (click)="deleteImage()">
        <mat-icon>delete</mat-icon>
      </button>
      <img [src]="image.path" alt="">
    </div>
    <ngx-dropzone (change)="takeImage($event)" class="mb-2" *ngIf="!image">
      <ngx-dropzone-label>Arraste os arquivos aqui ou clique para fazer o upload.</ngx-dropzone-label>
    </ngx-dropzone>
    
    <input-form label="Nome Completo" [control]="controls.name"></input-form>

    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="50">
        <input-form label="Gênero" type="select" [items]="genres" [control]="controls.genre"></input-form>
      </div>
      <div fxFlex="50">
        <input-form label="Estado Civil" type="select" [items]="civilStatus" [control]="controls.civilStatus"></input-form>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="50">
        <input-form label="CPF" [mask]="{format: '000.000.000-00'}" [control]="controls.cpf"></input-form>
      </div>
      <div fxFlex="25">
        <input-form label="RG" [control]="controls.rg"></input-form>
      </div>
      <div fxFlex="25">
        <input-form label="Orgão Emissor" [control]="controls.rgEmitter"></input-form>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="50">
        <input-form label="Celular" [mask]="{format: '(00) 00000-0000'}" [control]="controls.phone"></input-form>
      </div>
      <div fxFlex="50">
        <input-form label="Naturalidade" [control]="controls.placeBirth"></input-form>
      </div>
    </div>
  </div>

  <!-- ACCESS -->
  <mat-card class="mat-elevation-z8 p-0 mb-2">
    <mat-card-header class="py-3 px-1">
      <mat-card-title class="mb-0">Acesso</mat-card-title>
    </mat-card-header>
    <mat-card-content class="p-3">
      <input-form label="E-mail" type="email" [control]="controls.email"></input-form>

      <div fxLayout="row" fxLayoutGap="20px" *ngIf="!data.id">
        <mat-form-field fxFlex="50">
          <mat-label>Senha</mat-label>
          <input matInput [type]="togglePass ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix type="button" (click)="togglePass = !togglePass">
            <mat-icon>{{ togglePass ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="controls.password.hasError('required')">Senha é <strong>obrigatório!</strong></mat-error>
          <mat-error *ngIf="controls.password.hasError('minlength')">A senha deve conter no mínimo <strong>8 caracteres</strong></mat-error>
          <mat-error *ngIf="controls.password.hasError('pattern')">A senha deve conter <strong>letra, número</strong> e <strong>1 caracter especial</strong></mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <mat-label>Confirme sua senha</mat-label>
          <input matInput [type]="togglePass ? 'password' : 'text'" formControlName="confirmPass">
          <button mat-icon-button matSuffix type="button" (click)="togglePass = !togglePass">
            <mat-icon>{{ togglePass ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="controls.confirmPass.hasError('required')">Confirme sua senha é <strong>obrigatório!</strong></mat-error>
          <mat-error *ngIf="controls.confirmPass.hasError('passNotSame')">As senhas não <strong>coincidem!</strong></mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- ADDRESS -->
  <mat-card class="mat-elevation-z8 p-0 mb-2">
    <mat-card-header class="py-3 px-1">
      <mat-card-title class="mb-0">Endereço</mat-card-title>
    </mat-card-header>
    <mat-card-content class="p-3">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50">
          <input-form label="Logradouro" [control]="addressControls.street"></input-form>
        </div>
        <div fxFlex="30">
          <input-form label="Bairro" [control]="addressControls.district"></input-form>
        </div>
        <div fxFlex="20">
          <input-form label="Número" [control]="addressControls.number"></input-form>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="40">
          <input-form label="Cidade" type="select" [items]="addressCities" selectId="name" [control]="addressControls.city"></input-form>
        </div>
        <div fxFlex="40">
          <input-form label="Estado" type="select" [items]="states" selectId="uf" (change)="addressStateChange()" [control]="addressControls.state"></input-form>
        </div>
        <div fxFlex="20">
          <input-form label="CEP" [mask]="{format: '00000-000'}" (keyup)="zipcodeChange()" [control]="addressControls.zipcode"></input-form>
        </div>
      </div>
      <input-form label="Complemento" [control]="addressControls.complement"></input-form>
    </mat-card-content>
  </mat-card>

  <!-- FAMILY -->
  <mat-card class="mat-elevation-z8 p-0 mb-2">
    <mat-card-header class="py-3 px-1">
      <mat-card-title class="mb-0">Família</mat-card-title>
    </mat-card-header>
    <mat-card-content class="p-3">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50">
          <input-form label="Nome da Mãe" [control]="controls.motherName"></input-form>
        </div>
        <div fxFlex="50">
          <input-form label="Nome do Cônjuge" [control]="controls.spouseName"></input-form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  
  <!-- COMPANY -->
  <mat-card class="mat-elevation-z8 p-0 mb-2">
    <mat-card-header class="py-3 px-1">
      <mat-card-title class="mb-0">Empresa</mat-card-title>
    </mat-card-header>
    <mat-card-content class="p-3">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50">
          <input-form label="Empresa que Trabalha" [control]="companyControls.name"></input-form>
        </div>
        <div fxFlex="50">
          <input-form label="Cargo que ocupa" [control]="companyControls.post"></input-form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  
  <!-- COURSE -->
  <mat-card class="mat-elevation-z8 p-0 mb-2">
    <mat-card-header class="py-3 px-1">
      <mat-card-title class="mb-0">Curso Superior</mat-card-title>
    </mat-card-header>
    <mat-card-content class="p-3">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="30">
          <input-form label="Nome" [control]="courseControls.name"></input-form>
        </div>
        <div fxFlex="50">
          <input-form label="Instituição" [control]="courseControls.institute"></input-form>
        </div>
        <div fxFlex="20">
          <input-form label="Data de conclusão" type="datepicker" [control]="courseControls.conclusion"></input-form>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50">
          <input-form label="Cidade" type="select" [items]="courseCities" selectId="name" [control]="courseControls.city"></input-form>
        </div>
        <div fxFlex="50">
          <input-form label="Estado" type="select" [items]="states" selectId="uf" (change)="courseStateChange()" [control]="courseControls.state"></input-form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- SOCIAL -->
  <mat-card class="mat-elevation-z8 p-0 mb-2">
    <mat-card-header class="py-3 px-1">
      <mat-card-title class="mb-0">Social</mat-card-title>
    </mat-card-header>
    <mat-card-content class="p-3">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="30">
          <input-form label="Linkedin" type="url" [control]="socialControls.linkedin"></input-form>
        </div>
        <div fxFlex="40">
          <input-form label="Facebook" type="url" [control]="socialControls.facebook"></input-form>
        </div>
        <div fxFlex="30">
          <input-form label="Instagram" type="url" [control]="socialControls.instagram"></input-form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  
  <div fxLayoutAlign="end center">
    <button mat-button type="button" (ckick)="goToBack()">Voltar</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="formGroup.invalid" *ngIf="!saving">Salvar</button>
    <mat-progress-spinner mode="indeterminate" diameter="25" class="ml-2" *ngIf="saving"></mat-progress-spinner>
  </div>
</form>