.student-thumbnail {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.infos {
  .info {
    padding: .5rem;
    border: 2px solid #000;
  }
}

.groups {
  .group {
    .diverge {color: #f44336;}
    .converge {color: #009688;}
    .diverge, .converge {
      padding: .5rem;
      border: 2px solid #000;
    }
    .name {
      padding: .5rem;
      border-left: 2px solid #000;
      border-right: 2px solid #000;
    }
  }
}