<h1 mat-dialog-title>Formulário de questão</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">

    <mat-form-field>
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" cdkFocusInitial>
      <mat-error>Título é <strong>obrigatório!</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type" placeholder="---">
        <mat-option *ngFor="let type of types" [value]="type.id">{{ type.name }}</mat-option>
      </mat-select>
      <mat-error>Tipo é obrigatório!</mat-error>
    </mat-form-field>

    <div id="alternatives" class="mb-2" *ngIf="controls.type.value == 'objective'">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50">
          <div matLine><strong> Alternativas </strong></div>
        </div>
        <div fxFlex="50" class="text-end">
          <button mat-mini-fab color="primary" (click)="addAlternative()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <table>
        <tbody formArrayName="alternatives">
          <tr *ngFor="let formAlternative of controlAlternatives.controls; index as i">
            <ng-container [formGroup]="formAlternative">
              <td width="120">
                <mat-slide-toggle formControlName="isCorrect" color="primary">Correta?</mat-slide-toggle>
              </td>
              <td class="text-center">
                <mat-form-field>
                  <mat-label>Texto</mat-label>
                  <input matInput formControlName="text">
                  <mat-error>Texto é obrigatório!</mat-error>
                </mat-form-field>
              </td>
              <td width="50" class="text-end">
                <button mat-icon-button color="warn" (click)="removeAlternative(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
          </tr>
          <tr *ngIf="!controlAlternatives.controls.length">
            <td class="text-center">
              <a href="javascript:void(0)" (click)="addAlternative()">+ Adicionar alternativa</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <mat-label>Texto</mat-label>
      <quill-editor formControlName="text" placeholder="Insira o texto aqui..." [styles]="{minHeight: '200px'}"></quill-editor>
      <mat-error *ngIf="(controls.text.dirty || controls.text.touched) && controls.text.invalid">
        Texto é <strong>obrigatório!</strong>
      </mat-error>
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid" *ngIf="!saving" (click)="onSubmit()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="25" *ngIf="saving"></mat-progress-spinner>
</div>