<h1 mat-dialog-title>Formulário de questão</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">

    <input-form label="Título" [control]="controls.title"></input-form>

    <input-form label="Tipo" type="select" [items]="types" (change)="changeType($event)"
      [control]="controls.type">
    </input-form>

    <input-form label="Pontos" type="number" [control]="controls.point"></input-form>

    <div id="alternatives" class="mb-2" *ngIf="controls.type.value == 'objective'">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50">
          <div matLine><strong> Alternativas </strong></div>
        </div>
        <div fxFlex="50" class="text-end">
          <button mat-mini-fab color="primary" (click)="addAlternative()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <table class="w-100">
        <tbody formArrayName="alternatives">
          <tr *ngFor="let formAlternative of controlAlternatives.controls; index as i">
            <ng-container [formGroup]="formAlternative">
              <td width="120">
                <input-form label="Correta?" type="toggle" [id]="'isCorrect-'+i" [control]="formAlternative.controls.isCorrect"></input-form>
              </td>
              <td class="text-center">
                <input-form label="Texto" [id]="'text-'+i" [control]="formAlternative.controls.text"></input-form>
              </td>
              <td width="50" class="text-end">
                <button mat-icon-button color="warn" (click)="removeAlternative(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
          </tr>
          <tr *ngIf="!controlAlternatives.controls.length">
            <td class="text-center">
              <a href="javascript:void(0)" (click)="addAlternative()">+ Adicionar alternativa</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <input-form type="html" label="Texto" [showLabel]="false" [control]="controls.text"></input-form>
  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid" *ngIf="!saving" (click)="onSubmit()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="25" class="ml-2" *ngIf="saving"></mat-progress-spinner>
</div>