<h1 mat-dialog-title>Formulário de empresa</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">

    <div class="img-uploaded" *ngIf="image">
      <button mat-mini-fab color="warn" (click)="deleteImage()">
        <mat-icon>delete</mat-icon>
      </button>
      <img [src]="image.path" alt="">
    </div>
    <ngx-dropzone (change)="takeImage($event)" accept="image/jpeg,image/jpg,image/png" [multiple]="false" class="mb-2" *ngIf="!image">
      <ngx-dropzone-label>Arraste os arquivos aqui ou clique para fazer o upload.</ngx-dropzone-label>
    </ngx-dropzone>

    <app-input label="Nome" [control]="controls.name"></app-input>

    <app-input label="Acesso ao conteúdo" type="select" [items]="accessList"
      [control]="controls.accessId" selectName="code"></app-input>

    <div id="departments" class="mb-2">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50">
          <div matLine><strong> Departamentos </strong></div>
        </div>
        <div fxFlex="50" class="text-end">
          <button mat-mini-fab color="primary" (click)="addDepartment()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <table class="w-100">
        <tbody formArrayName="departments">
          <tr *ngFor="let controlDepartment of departmentControl.controls; index as i">
            <td>
              <app-input label="Nome" [id]="'departmentName-'+i" [control]="controlDepartment"></app-input>
            </td>
            <td width="50" class="text-end">
              <button mat-icon-button color="warn" (click)="removeDepartment(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr *ngIf="!departmentControl.controls.length">
            <td class="text-center">
              <a href="javascript:void(0)" (click)="addDepartment()">+ Adicionar departamento</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="posts" class="mb-2">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50">
          <div matLine><strong> Cargos </strong></div>
        </div>
        <div fxFlex="50" class="text-end">
          <button mat-mini-fab color="primary" (click)="addPost()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <table class="w-100">
        <tbody formArrayName="posts">
          <tr *ngFor="let formPost of postControl.controls; index as i">
            <ng-container [formGroup]="formPost">
              <td>
                <app-input label="Nome" [id]="'postName-'+i" [control]="formPost.controls.name"></app-input>
              </td>
              <td>
                <app-input label="Nível" [id]="'postLevel-'+i" type="number" [control]="formPost.controls.level"></app-input>
              </td>
              <td width="50" class="text-end">
                <button mat-icon-button color="warn" (click)="removePost(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
          </tr>
          <tr *ngIf="!departmentControl.controls.length">
            <td class="text-center">
              <a href="javascript:void(0)" (click)="addPost()">+ Adicionar Cargo</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid" *ngIf="!saving" (click)="onSubmit()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="25" class="ml-2" *ngIf="saving"></mat-progress-spinner>
</div>